// Colours

$background: #ecf0f1;
$nav-background: #34495e;

$main-green: #2dcc70;
$dark-green: #17984d;

$light-grey: #e5e5e5;
$medium-grey: #8e9a98;
$dark-grey: #373e3d;




// Scss Content

html, body {
  font-family: 'Roboto', sans-serif;
}

.container {
  background: $background;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  padding-left: 280px;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

// Side-bar SCSS

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  background: $nav-background;
}

.profile-box {
  background: $main-green;
  height: 89px;
  vertical-align: 89px;
  line-height: 89px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.login {
  color: #fff;
  background-color: $dark-green;
  padding: 10px 20px 10px 20px;
}

.login:hover {
  background: #fff;
  color: $dark-green;
  text-decoration: none;
}

ul.nav-links {
  margin: 0;
}

.nav-links {

  li {
    list-style: none;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-bottom: 20px;
    height: 50px;
    line-height: 45px;
    vertical-align: middle;
  }

  li a {
    color: #fff;
  }

  li.active {
    background-color: #233342;
  }
}


// Nav-bar Scss

.nav-bar {
  background: #fff;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid $light-grey;
  padding: 0px 40px 0px 30px;

  .nav-icons {
    color: red;
    padding-top: 25px;
  }

  .nav-icons i {
    margin: 0px 10px 0px 10px;
    color: $medium-grey;

    .nav-link {
      font-size: 9pt;
      font-weight: bold;
      vertical-align: middle;
      padding-left: 5px;
    }
  }

  .nav-icons i:hover {
    color: $main-green;
  }
}



// Avatars

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}



// Buttons

.user-button {
  @include button();

  background: $main-green;
  padding: 10px 20px 10px 0px;
  margin: 0px;
  font-size: 10pt;

  i.icon {
    color: #fff;
    padding-left: 10px;
  }

  i.icon:hover {
    color: #fff;
  }

}

.user-button:hover {
  background: $dark-green;
}




// Boxes

.row {
  padding: 10px 20px 10px 20px;

  .content-box {
    background: #fff;
    border: 1px solid $light-grey;
    border-radius: 5px;

    p {
      padding: 20px;
      margin: 0px;
    }
  }

  .large-12 {
    padding: 0px;
  }
}


// Alerts

.alert-box {
  margin: 20px 20px 20px 20px;
}






// Typography

h3 {
    color: #708080;
    font-size: 10pt;
    margin: 0px;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #dfe0e2;
    font-weight: bold;
}





// Media queries

@media only screen and (max-width: 640px) {

  body { -webkit-text-size-adjust: none; }

  .container { padding-left: 0; }

  .sidebar {
    display: none; 
  }
}